<!DOCTYPE>
<html>
    <head>
        <style>
            body{
                background-color: pink;
            }
        </style>
    </head>
    <body>
        <center><%= image_tag 'mails.jpg' %></center>
        
        <h1 style = "color:white">메일 작성</h1>
        <%= form_for :article, url: '/articles/' do |f| %>
        <p>
            <%= f.label :title%><br>
            <%= f.text_field :title %>
        </p>
        <p>
            <%= f.label :send%><br>
            <%= f.text_field :send %>
        </p>

        <p>
            <%= f.label :content%><br>
            <%= f.text_field :content %>
        </p>
    
        <p>
            <%= f.submit %>
        </p>
        <% end %>
    </body>
</html>
 