<!DOCTYPE>
<html>
<head>
    <style>
        body{
            background-color: pink;
        }
        .box {
            border: 1px solid red;
            height: 20px;
            margin: 1;
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>title</th>
                <th>send</th>
                <th>content</th>                      
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @article.title %></td>
                <td><%= @article.send %></td>
                <td><%= @article.content %></td>
            </tr>
        </tbody>
        </table>

</body>

<%= link_to "수정", edit_article_path(@article) %> 
<%= link_to "삭제", article_path(@article), method: :delete %> 
<%= link_to "Article list", articles_path %> 
