<!DOCTYPE>
<html>
<head>
    <style>
        body{
            background-color: pink;
        }
        .box {
            border: 1px solid red;
            height: 20px;
            margin: 1;
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>title</th>
                <th>send</th>
                <th>content</th>                      
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @article.title %></td>
                <td><%= @article.send %></td>
                <td><%= @article.asdf %></td>
            </tr>
        </tbody>
        </table>

</body>

<%= link_to "수정", edit_article_path(@article) %> 
<%= link_to "삭제", article_path(@article), method: :delete %> 
<%= link_to "Article list", articles_path %> 

<p>
    <h3>Comment</h3>
    <ul id="comments">
        <% @article.comments.each do |comment| %>
            <li><%=comment.content %></li>
        <% end %>
    </ul>
</p>

<p>
    <%= form_for :comment, url: article_comments_path(@article.id) do |f| %>
        <%= f.text_area :content %>
        <%= f.submit %>
    <% end %> 
</p>
